<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :twitter, "За кем следить" %><br />
    <%= f.text_field :twitter %>
  </p>
  <p>
    <%= f.label :phone, "Номер моего мобильного" %><br />
    <%= f.text_field :phone %>
  </p>

  <p><%= f.submit "Sign up" %></p>

<% end %>

<!--<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>-->
