<% form_tag new_session_path do %>
  <p>
    <%= label_tag :login, "За кем следить" %><br />
    <%= text_field_tag :twitter, params[:twitter] %>
  </p>
  <p>
    <%= label_tag :phone, "Номер моего мобильного" %><br />
    <%= text_field_tag :phone, params[:phone] %>
  </p>
  <p><%= submit_tag "Следить" %></p>
<% end %>

<!--<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>-->
